<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B20 Project</title>
</head>
<body>
    <h1>My Leagues</h1>

    <ul>
    {% for league in leagues %}
        <li><a href="{{ url_for('league', league_id=league.id )}}">{{ league.name }} (ID: {{ league.id }})</a></li>
    {% endfor %}
    </ul>

    <hr>
    <h3>Create New League</h3>
    <form action="/create_league" method="POST">
        <input type="text" name="leagueName" placeholder="League Name" required>
        <select name="draftType">
            <option value="Auction">Auction</option>
            <option value="Snake">Snake</option>
        </select>
        <button type="submit">Create League</button>
    </form>

        <h4>Join League</h4>
    <form action="/join_league" method="POST">
        <input type="text" name="leagueID" placeholder="League Join Code" required>
        <button type="submit">Join League</button>
    </form>
</body>
</html>